<?xml version="1.0" encoding="UTF-8"?>
<!-- OpenCode Desktop - Openbox Menu Configuration -->
<openbox_menu xmlns="http://openbox.org/3.4/menu">
  
  <menu id="apps-menu" label="Applications">
    <item label="Terminal">
      <action name="Execute">
        <command>xterm</command>
      </action>
    </item>
    <item label="File Manager">
      <action name="Execute">
        <command>pcmanfm</command>
      </action>
    </item>
    <separator/>
    <item label="Firefox Web Browser">
      <action name="Execute">
        <command>firefox-esr</command>
      </action>
    </item>
    <item label="Text Editor">
      <action name="Execute">
        <command>gedit</command>
      </action>
    </item>
    <separator/>
    <item label="Calculator">
      <action name="Execute">
        <command>galculator</command>
      </action>
    </item>
    <item label="Image Viewer">
      <action name="Execute">
        <command>gpicview</command>
      </action>
    </item>
    <item label="PDF Viewer">
      <action name="Execute">
        <command>evince</command>
      </action>
    </item>
  </menu>
  
  <menu id="dev-menu" label="Development">
    <item label="Terminal (xterm)">
      <action name="Execute">
        <command>xterm -fa 'DejaVu Sans Mono' -fs 11</command>
      </action>
    </item>
    <item label="Open Workspace">
      <action name="Execute">
        <command>pcmanfm /home/developer/workspace</command>
      </action>
    </item>
    <separator/>
    <item label="Node.js REPL">
      <action name="Execute">
        <command>xterm -e node</command>
      </action>
    </item>
    <item label="Python REPL">
      <action name="Execute">
        <command>xterm -e python</command>
      </action>
    </item>
  </menu>
  
  <menu id="root-menu" label="OpenCode Desktop">
    <menu id="apps-menu"/>
    <menu id="dev-menu"/>
    <separator/>
    <item label="Reconfigure Openbox">
      <action name="Reconfigure"/>
    </item>
  </menu>
  
</openbox_menu>
